apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: roadmap-visualizer-pvc
  labels:
    app: roadmap-visualizer
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
