apiVersion: v1
kind: Service
metadata:
  name: roadmap-visualizer
  labels:
    app: roadmap-visualizer
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: roadmap-visualizer
